.jumbotron {
    background: url(../images/66829953-floral-seamless-pattern-flower-background-floral-seamless-texture-with-flowers-floral-pattern-with-h.jpg);
    font-family: 'Shrikhand', cursive;
}

.question {
    font-family: 'Courgette', cursive;
}